// VARS
@use 'colors';
$border-radius: 15px;

// RESET
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scrollbar-width: thin;
	scrollbar-color: colors.$fontColor transparent;
	&::-webkit-scrollbar {
		width: 7px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: colors.$fontColor;
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
}
button {
	background-color: transparent;
	color: colors.$fontColor;
	cursor: pointer;
}
h4 {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
}
i {
	font-size: 2.5rem;
}
body {
	font-size: 1.6rem;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

.timer {
	padding-block: 1em;
	padding-inline: 10px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	z-index: 0;
	min-height: 100vh;
}
// Timer open settings btn
.timer__open-settings-btn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	border: none;
}
// TIMER TOOLS
.timer__btns {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 300px;
	background-color: colors.$glassColor;
	border-radius: $border-radius;
	align-self: center;
	.timer__btn {
		margin-inline: 1.2em;
		padding: 10px;
		border: none;
	}
}

// TIMER CLOCK
.timer__clock {
	margin-block-start: 0.25em;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 5rem;
	text-align: center;
	color: colors.$fontColor;
}

// Header in tasks and notes sections
section {
	margin-block-start: 1em;
	background-color: colors.$glassColor;
	border-radius: $border-radius;
	overflow: hidden;
	.section-header {
		padding: 1em 0.8em;
		background-color: colors.$glassColor;
		color: colors.$fontColor;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		h4 {
			margin-inline-start: 12px;
			font-size: 2.2rem;
			font-weight: 400;
		}
	}
}

// To Do List
.timer__tasks {
	margin-block-start: 1em;
	background-color: colors.$glassColor;
	border-radius: $border-radius;
	overflow: hidden;
	&-form {
		margin-inline: 0.8em;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid colors.$offFontColor;
		&-input {
			padding-block: 1em;
			width: 70%;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid transparent;
			font-family: 'Inter', sans-serif;
			font-size: 1.4rem;
			color: colors.$fontColor;
			&::placeholder {
				color: colors.$subFontColor;
			}
			&:focus {
				outline: none;
				border-bottom: 1px solid colors.$fontColor;
			}
		}
		&-btn {
			padding: 0.4em 1.2em;
			border: 1px solid colors.$subFontColor;
			border-radius: 20px;
			color: colors.$subFontColor;
			font-family: 'Inter', sans-serif;
			font-size: 1.3rem;
			&:focus {
				border: 1px solid colors.$fontColor;
				color: 1px solid colors.$fontColor;
			}
		}
	}
	&-list {
		margin-block: 1.5em 0.3em;
		margin-inline: 0.8em;
		list-style: none;
		max-height: 225px;
		overflow-y: scroll;
		&-item {
			padding-block: 0.5em;
			display: grid;
			grid-template-columns: 15px 80% 20px;
			align-items: center;
			justify-content: space-evenly;
			border-bottom: 1px solid colors.$offFontColor;
			&-checkbox {
				appearance: none;
				display: grid;
				place-content: center;
				background-color: transparent;
				border: 2px solid colors.$subFontColor;
				width: 0.9em;
				height: 0.9em;
				border-radius: 0.15em;
				overflow: hidden;
				cursor: pointer;
				&::before {
					content: '';
					width: 1em;
					height: 1em;
					transform: scale(0);
					transition: 150ms transform ease-in-out;
					box-shadow: inset 1em 1em colors.$subFontColor;
				}
				&:checked::before {
					transform: scale(1);
				}
			}
			&-name {
				word-wrap: break-word;
				margin-left: 5px;
				font-size: 1.6rem;
				font-family: 'Inter', sans-serif;
				color: colors.$fontColor;
				cursor: pointer;
			}
			&-delete {
				padding: 5px 0 5px 10px;
				margin-left: auto;
				border: none;
				i {
					font-size: 1.6rem;
					color: colors.$subFontColor;
				}
			}
		}
		&-item:last-of-type {
			border-bottom: none;
		}
		.done {
			label {
				color: colors.$offFontColor;
			}
			i {
				color: colors.$offFontColor;
			}
		}
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: colors.$fontColor;
		}
		&::-webkit-scrollbar-track {
			background-color: colors.$offFontColor;
		}
	}
}

// Notes
.timer__notes {
	display: flex;
	flex-direction: column;
	height: clamp(300px, 300px, 300px);
	&-textarea {
		padding: 0.5em;
		height: 100%;
		width: 100%;
		background-color: transparent;
		border: none;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		font-size: 1.6rem;
		color: colors.$subFontColor;
		resize: none;
		&:focus {
			outline: 1px solid colors.$offFontColor;
			background-color: rgba(0, 0, 0, 0.1);
			color: colors.$fontColor;
		}
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: colors.$fontColor;
		}
		&::-webkit-scrollbar-track {
			background-color: colors.$offFontColor;
		}
	}
}

// SETTINGS
.settings-background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 100vh;
	background-color: #1a1a1a;
	z-index: 0;
}

.settings {
	margin-block-start: 0;
	padding: 0.5em 1em 1em;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #1a1a1a;
	border-radius: 0;
	font-family: 'Inter', sans-serif;
	color: colors.$fontColor;
	z-index: 10;
	&__header {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 786px;
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: -10%;
			width: 80%;
			height: 2px;
			background-color: colors.$offFontColor;
		}
		&-title {
			color: colors.$subFontColor;
			font-weight: 600;
			font-size: 2rem;
		}
		&-close {
			padding: 0.8em 0 0.8em 0.8em;
			border: none;
			i {
				font-size: 2.5rem;
			}
		}
	}
	.timer-section {
		.settings__section-title {
			position: relative;
			&::after {
				content: 'minutes';
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				font-size: 1.3rem;
				color: colors.$subFontColor;
			}
		}
	}
	&__section {
		margin-top: 1.5em;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		max-width: 786px;
		&-title {
			margin-bottom: 0.5em;
			width: 100%;
			font-weight: 500;
			font-size: 2rem;
			border-bottom: 1px solid colors.$offFontColor;
		}
		label {
			margin-top: 0.5em;
			padding: 3px 0;
			min-width: 70%;
			font-size: 1.6rem;
		}
		input {
			margin-top: 0.5em;
			border: none;
			border-radius: 10px;
			cursor: pointer;
		}
		input[type='number'] {
			-moz-appearance: textfield;
			padding: 3px 9px;
			max-width: 60px;
			outline: 1px solid transparent;
			background-color: colors.$hardGlassColor;
			color: colors.$subFontColor;
			font-size: 1.6rem;
			text-align: center;
			&:focus {
				outline: 1px solid colors.$fontColor;
				color: colors.$fontColor;
			}
			&:focus::placeholder {
				color: colors.$fontColor;
			}
		}

		.switch {
			appearance: none;
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 60px;
			max-width: 60px;
			background-color: colors.$offFontColor;
			height: 20px;
			transition: background-color 0.2s;
			&::before {
				content: '';
				width: 23px;
				height: 23px;
				border-radius: 50%;
				transform: translateX(-80%);
				background-color: #7a7a7a;
				transition: transform 0.2s, background-color 0.2s;
			}
			&:checked {
				background-color: colors.$subFontColor;
			}
			&:checked::before {
				background-color: colors.$fontColor;
				transform: translateX(80%);
			}
		}
		.color-preview {
			appearance: none;
			height: 20px;
			min-width: 60px;
			max-width: 100px;
			background-color: #4da78c;
		}
		.color-range {
			width: 100%;
		}
		.hidden-input {
			max-height: 0px;
			transform: scaleY(0);
			transform-origin: top;
			transition: transform 0.2s, max-height 0.2s;
		}
		.color-range {
			-webkit-appearance: none;
			background: linear-gradient(
				90deg,
				hsl(0, 80%, 40%) 0%,
				hsl(36, 80%, 40%) 10%,
				hsl(64, 80%, 40%) 20%,
				hsl(118, 80%, 40%) 30%,
				hsl(179, 80%, 40%) 40%,
				hsl(188, 80%, 40%) 50%,
				hsl(212, 80%, 40%) 60%,
				hsl(260, 80%, 40%) 70%,
				hsl(284, 80%, 40%) 80%,
				hsl(308, 80%, 40%) 90%,
				hsl(0, 80%, 40%) 100%
			);
			&::-webkit-slider-thumb {
				width: 5px;
				-webkit-appearance: none;
				height: 25px;
				cursor: pointer;
				background: #ffffff;
			}
		}
		select {
			margin-top: 3px;
			padding: 0.2em;
			width: 100%;
			font-size: 1.5rem;
			&:focus {
				outline: 1px solid colors.$subFontColor;
			}
		}
		.color-preview:checked + .color-range,
		.switch:checked + select {
			max-height: 30px;
			transform: scaleY(1);
		}
		.volume-range {
			-webkit-appearance: none;
			height: 10px;
			width: 100%;
			background-color: colors.$subFontColor;
			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				background-color: colors.$fontColor;
				width: 5px;
				height: 15px;
				cursor: pointer;
			}
		}
	}

	// HIDE INDICATORS FROM NUMBER INPUT
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type='number'] {
		-moz-appearance: textfield;
	}
}

.alert {
	padding: 1em 2em;
	position: fixed;
	bottom: 0.5em;
	left: 50%;
	display: grid;
	grid-template-columns: 70px auto;
	grid-template-rows: 1fr;
	align-items: center;
	width: calc(100% - 20px);
	max-width: 650px;
	border: 1px solid colors.$subFontColor;
	transform: translateX(-150%);
	border-radius: $border-radius;
	background-color: colors.$hardGlassColor;
	color: colors.$fontColor;
	animation: alertSlide 4s both;
	p {
		font-family: 'Inter', sans-serif;
		font-size: 1.8rem;
	}
	i {
		font-size: 3.5rem;
	}
}
@keyframes alertSlide {
	0% {
		transform: translateX(200%);
		opacity: 1;
	}
	7% {
		transform: translateX(-55%);
		opacity: 1;
	}
	10% {
		transform: translateX(-45%);
		opacity: 1;
	}
	12% {
		transform: translateX(-50%);
		opacity: 1;
	}
	90% {
		transform: translateX(-50%);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%);
		opacity: 0;
	}
}

@media (min-width: 420px) {
	// To Do List
	.timer__tasks {
		&-list {
			&-item {
				grid-template-columns: 15px 85% 20px;
			}
		}
	}
}

@media (min-width: 576px) {
	// To Do List
	.timer__tasks {
		&-form {
			&-input {
				width: 80%;
			}
		}
		&-list {
			&-item {
				grid-template-columns: 15px 90% 20px;
			}
		}
	}
	.settings {
		&__section {
			label:last-of-type {
				min-width: 30%;
			}
			.volume-range {
				max-width: 250px;
			}
		}
	}
}

@media (min-width: 768px) {
	.settings {
		min-width: 768px;
		left: 50%;
		transform: translate(-50%);
	}
}
@media (min-width: 992px) {
	.timer__tasks {
		margin-block-start: 1em;
		background-color: colors.$glassColor;
		border-radius: $border-radius;
		overflow: hidden;
		&-form {
			margin-inline: 0.8em;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid colors.$offFontColor;
			&-input {
				padding-block: 1em;
				background-color: transparent;
				border: none;
				border-bottom: 1px solid transparent;
				font-family: 'Inter', sans-serif;
				font-size: 1.4rem;
				color: colors.$fontColor;
				&::placeholder {
					color: colors.$subFontColor;
				}
				&:focus {
					outline: none;
					border-bottom: 1px solid colors.$fontColor;
				}
			}
			&-btn {
				padding: 0.4em 1.2em;
				border: 1px solid colors.$subFontColor;
				border-radius: 20px;
				color: colors.$subFontColor;
				font-family: 'Inter', sans-serif;
				font-size: 1.3rem;
				&:focus {
					border: 1px solid colors.$fontColor;
					color: 1px solid colors.$fontColor;
				}
			}
		}
		&-list {
			margin-block: 1.5em 0.3em;
			margin-inline: 0.8em;
			list-style: none;
			max-height: 225px;
			overflow-y: scroll;
			&-item {
				padding-block: 0.5em;
				display: grid;
				grid-template-columns: 15px 80% 20px;
				align-items: center;
				justify-content: space-evenly;
				border-bottom: 1px solid colors.$offFontColor;
				&-checkbox {
					appearance: none;
					display: grid;
					place-content: center;
					background-color: transparent;
					border: 2px solid colors.$subFontColor;
					width: 0.9em;
					height: 0.9em;
					border-radius: 0.15em;
					overflow: hidden;
					&::before {
						content: '';
						width: 1em;
						height: 1em;
						transform: scale(0);
						transition: 150ms transform ease-in-out;
						box-shadow: inset 1em 1em colors.$subFontColor;
					}
					&:checked::before {
						transform: scale(1);
					}
				}
				&-name {
					word-wrap: break-word;
					margin-left: 5px;
					font-size: 1.6rem;
					font-family: 'Inter', sans-serif;
					color: colors.$fontColor;
				}
				&-delete i {
					transition: color 0.1s;
					&:hover {
						color: colors.$fontColor;
					}
				}
			}
		}
	}
}

@media (min-width: 1024px) {
	.timer {
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
		justify-content: center;
	}
	.timer__btns {
		width: 100%;
	}
	.timer__clock {
		width: 100%;
	}
	// To Do List
	.timer__tasks {
		margin-right: 0.7em;
		width: clamp(490px, 48%, 850px);
		&-list {
			max-height: 315px;
			&-item {
				grid-template-columns: 15px 85% 20px;
			}
		}
	}

	// Quick Notes
	.timer__notes {
		height: unset;
		min-height: 300px;
		margin-left: 0.7em;
		width: clamp(490px, 48%, 850px);
	}
}
