// .inpucik {
// 	overflow: hidden;
// 	width: 720px;
// 	height: 20px;
// 	-webkit-appearance: none;
// 	background: linear-gradient(
// 		90deg,
// 		hsl(0, 80%, 40%) 0%,
// 		hsl(36, 80%, 40%) 10%,
// 		hsl(64, 80%, 40%) 20%,
// 		hsl(118, 80%, 40%) 30%,
// 		hsl(179, 80%, 40%) 40%,
// 		hsl(188, 80%, 40%) 50%,
// 		hsl(212, 80%, 40%) 60%,
// 		hsl(260, 80%, 40%) 70%,
// 		hsl(284, 80%, 40%) 80%,
// 		hsl(308, 80%, 40%) 90%,
// 		hsl(0, 80%, 40%) 100%
// 	);
// 	&::-webkit-slider-thumb {
// 		width: 5px;
// 		-webkit-appearance: none;
// 		height: 25px;
// 		cursor: pointer;
// 		background: #ffffff;
// 	}
// }

// VARS
@use 'colors';
$border-radius: 15px;

// RESET
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
button {
	background-color: transparent;
	color: colors.$fontColor;
}
h4 {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
}
i {
	font-size: 2.5rem;
}
body {
	font-size: 1.6rem;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background-color: #232323;
	background: linear-gradient(20deg, #11523e 0%, #05231a 100%);
}
//

.timer {
	margin-block: 1em;
	margin-inline: 10px;
	display: flex;
	flex-direction: column;
}

// TIMER TOOLS
.timer__btns {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 300px;
	background-color: colors.$glassColor;
	border-radius: $border-radius;
	.timer__btn {
		margin-inline: 1em;
		padding: 10px;
		border: none;
	}
}

// TIMER CLOCK
.timer__clock {
	margin-block-start: 0.25em;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 5rem;
	text-align: center;
	color: colors.$fontColor;
}

// Header in tasks and notes sections
section {
	margin-block-start: 1em;
	background-color: colors.$glassColor;
	border-radius: $border-radius;
	overflow: hidden;
	.section-header {
		padding: 1em 0.8em;
		background-color: colors.$glassColor;
		color: colors.$fontColor;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		h4 {
			margin-inline-start: 12px;
			font-size: 2.2rem;
			font-weight: 400;
		}
	}
}

// To Do List
.timer__tasks {
	margin-block-start: 1em;
	background-color: colors.$glassColor;
	border-radius: $border-radius;
	overflow: hidden;
	// &-header {
	// 	padding: 1em 0.8em;
	// 	background-color: colors.$glassColor;
	// 	color: colors.$fontColor;
	// 	display: flex;
	// 	justify-content: flex-start;
	// 	align-items: center;
	// 	&-title {
	// 		margin-inline-start: 12px;
	// 		font-size: 2.2rem;
	// 		font-weight: 400;
	// 	}
	// }
	&-form {
		margin-inline: 0.8em;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid colors.$offFontColor;
		&-input {
			padding-block: 1em;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid transparent;
			font-family: 'Inter', sans-serif;
			font-size: 1.4rem;
			color: colors.$fontColor;
			&::placeholder {
				color: colors.$subFontColor;
			}
			&:focus {
				outline: none;
				border-bottom: 1px solid colors.$fontColor;
			}
		}
		&-btn {
			padding: 0.4em 1.2em;
			border: 1px solid colors.$subFontColor;
			border-radius: 20px;
			color: colors.$subFontColor;
			font-family: 'Inter', sans-serif;
			font-size: 1.3rem;
			&:focus {
				border: 1px solid colors.$fontColor;
				color: 1px solid colors.$fontColor;
			}
		}
	}
	&-list {
		margin-block: 1.5em 0.3em;
		margin-inline: 0.8em;
		list-style: none;
		&-item {
			padding-block: 0.5em;
			display: flex;
			align-items: center;
			border-bottom: 1px solid colors.$offFontColor;
			&-checkbox {
				appearance: none;
				display: grid;
				place-content: center;
				background-color: transparent;
				border: 2px solid colors.$subFontColor;
				width: 0.9em;
				height: 0.9em;
				border-radius: 0.15em;
				overflow: hidden;
				&::before {
					content: '';
					width: 1em;
					height: 1em;
					transform: scale(0);
					transition: 150ms transform ease-in-out;
					box-shadow: inset 1em 1em colors.$subFontColor;
				}
				&:checked::before {
					transform: scale(1);
				}
			}
			&-name {
				margin-left: 5px;
				font-size: 1.6rem;
				font-family: 'Inter', sans-serif;
				color: colors.$fontColor;
			}
			&-delete {
				padding: 5px 0 5px 10px;
				margin-left: auto;
				border: none;
				i {
					font-size: 1.6rem;
					color: colors.$subFontColor;
				}
			}
		}
		&-item:last-of-type {
			border-bottom: none;
		}
		.done {
			input {
				border: 2px solid colors.$offFontColor;
				&::before {
					box-shadow: inset 1em 1em colors.$offFontColor;
				}
			}
			p {
				color: colors.$offFontColor;
			}
			i {
				color: colors.$offFontColor;
			}
		}
	}
}

// Notes
.timer__notes {
}
