// .inpucik {
// 	overflow: hidden;
// 	width: 720px;
// 	height: 20px;
// 	-webkit-appearance: none;
// 	background: linear-gradient(
// 		90deg,
// 		hsl(0, 80%, 40%) 0%,
// 		hsl(36, 80%, 40%) 10%,
// 		hsl(64, 80%, 40%) 20%,
// 		hsl(118, 80%, 40%) 30%,
// 		hsl(179, 80%, 40%) 40%,
// 		hsl(188, 80%, 40%) 50%,
// 		hsl(212, 80%, 40%) 60%,
// 		hsl(260, 80%, 40%) 70%,
// 		hsl(284, 80%, 40%) 80%,
// 		hsl(308, 80%, 40%) 90%,
// 		hsl(0, 80%, 40%) 100%
// 	);
// 	&::-webkit-slider-thumb {
// 		width: 5px;
// 		-webkit-appearance: none;
// 		height: 25px;
// 		cursor: pointer;
// 		background: #ffffff;
// 	}
// }

// VARS
@use 'colors';
$border-radius: 15px;

// RESET
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
button {
	background-color: transparent;
	color: colors.$fontColor;
}
body {
	font-size: 1.6rem;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background-color: #232323;
	background: linear-gradient(20deg, #11523e 0%, #05231a 100%);
}
//

.app {
	margin-block: 1em;
	margin-inline: 10px;
	display: flex;
	flex-direction: column;
}

// TIMER TOOLS
.timer__btns {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 300px;
	background-color: colors.$glassColor;
	border-radius: $border-radius;
	.timer__btn {
		margin-inline: 1em;
		padding: 10px;
		border: none;
		i {
			font-size: 2.5rem;
		}
	}
}

// TIMER CLOCK
.timer__clock {
	margin-block-start: 0.25em;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 5rem;
	text-align: center;
	color: colors.$fontColor;
}
