*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scrollbar-width: thin;
  scrollbar-color: rgb(217, 217, 217) transparent;
}
html::-webkit-scrollbar {
  width: 7px;
}
html::-webkit-scrollbar-thumb {
  background-color: rgb(217, 217, 217);
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}

button {
  background-color: transparent;
  color: rgb(217, 217, 217);
  cursor: pointer;
}

h4 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

i {
  font-size: 2.5rem;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  z-index: -10;
}

.timer {
  padding-block: 1em;
  padding-inline: 10px;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100vh;
  width: 100%;
  z-index: 0;
}

.timer__open-settings-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border: none;
}

.timer__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  -ms-flex-item-align: center;
      align-self: center;
}
.timer__btns .timer__btn {
  margin-inline: 1.2em;
  padding: 10px;
  border: none;
}

.timer__clock {
  -webkit-margin-before: 0.25em;
          margin-block-start: 0.25em;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  text-align: center;
  color: rgb(217, 217, 217);
}

section {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
}
section .section-header {
  padding: 1em 0.8em;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(217, 217, 217);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .section-header h4 {
  -webkit-margin-start: 12px;
          margin-inline-start: 12px;
  font-size: 2.2rem;
  font-weight: 400;
}

.timer__tasks {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
}
.timer__tasks-form {
  margin-inline: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(217, 217, 217, 0.2);
}
.timer__tasks-form-input {
  padding-block: 1em;
  width: 70%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  color: rgb(217, 217, 217);
}
.timer__tasks-form-input::-webkit-input-placeholder {
  color: rgba(217, 217, 217, 0.5);
}
.timer__tasks-form-input::-moz-placeholder {
  color: rgba(217, 217, 217, 0.5);
}
.timer__tasks-form-input:-ms-input-placeholder {
  color: rgba(217, 217, 217, 0.5);
}
.timer__tasks-form-input::-ms-input-placeholder {
  color: rgba(217, 217, 217, 0.5);
}
.timer__tasks-form-input::placeholder {
  color: rgba(217, 217, 217, 0.5);
}
.timer__tasks-form-input:focus {
  outline: none;
  border-bottom: 1px solid rgb(217, 217, 217);
}
.timer__tasks-form-btn {
  padding: 0.4em 1.2em;
  border: 1px solid rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  color: rgba(217, 217, 217, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
}
.timer__tasks-form-btn:focus {
  border: 1px solid rgb(217, 217, 217);
  color: 1px solid rgb(217, 217, 217);
}
.timer__tasks-list {
  margin-block: 1.5em 0.3em;
  margin-inline: 0.8em;
  list-style: none;
  max-height: 225px;
  overflow-y: scroll;
}
.timer__tasks-list-item {
  padding-block: 0.5em;
  display: grid;
  grid-template-columns: 15px 80% 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 1px solid rgba(217, 217, 217, 0.2);
}
.timer__tasks-list-item-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: grid;
  place-content: center;
  background-color: transparent;
  border: 2px solid rgba(217, 217, 217, 0.5);
  width: 0.9em;
  height: 0.9em;
  border-radius: 0.15em;
  overflow: hidden;
  cursor: pointer;
}
.timer__tasks-list-item-checkbox::before {
  content: "";
  width: 1em;
  height: 1em;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 150ms -webkit-transform ease-in-out;
  transition: 150ms -webkit-transform ease-in-out;
  transition: 150ms transform ease-in-out;
  transition: 150ms transform ease-in-out, 150ms -webkit-transform ease-in-out;
  -webkit-box-shadow: inset 1em 1em rgba(217, 217, 217, 0.5);
          box-shadow: inset 1em 1em rgba(217, 217, 217, 0.5);
}
.timer__tasks-list-item-checkbox:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.timer__tasks-list-item-name {
  word-wrap: break-word;
  margin-left: 5px;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  color: rgb(217, 217, 217);
  cursor: pointer;
}
.timer__tasks-list-item-delete {
  padding: 5px 0 5px 10px;
  margin-left: auto;
  border: none;
}
.timer__tasks-list-item-delete i {
  font-size: 1.6rem;
  color: rgba(217, 217, 217, 0.5);
}
.timer__tasks-list-item:last-of-type {
  border-bottom: none;
}
.timer__tasks-list .done label {
  color: rgba(217, 217, 217, 0.2);
}
.timer__tasks-list .done i {
  color: rgba(217, 217, 217, 0.2);
}
.timer__tasks-list::-webkit-scrollbar {
  width: 5px;
}
.timer__tasks-list::-webkit-scrollbar-thumb {
  background-color: rgb(217, 217, 217);
}
.timer__tasks-list::-webkit-scrollbar-track {
  background-color: rgba(217, 217, 217, 0.2);
}

.timer__notes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
}
.timer__notes-textarea {
  padding: 0.5em;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 1.6rem;
  color: rgba(217, 217, 217, 0.5);
  resize: none;
}
.timer__notes-textarea:focus {
  outline: 1px solid rgba(217, 217, 217, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(217, 217, 217);
}
.timer__notes-textarea::-webkit-scrollbar {
  width: 5px;
}
.timer__notes-textarea::-webkit-scrollbar-thumb {
  background-color: rgb(217, 217, 217);
}
.timer__notes-textarea::-webkit-scrollbar-track {
  background-color: rgba(217, 217, 217, 0.2);
}

.settings-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  background-color: #1a1a1a;
  z-index: 0;
}

.settings {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  padding: 0.5em 1em 1em;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  border-radius: 0;
  font-family: "Inter", sans-serif;
  color: rgb(217, 217, 217);
  z-index: 10;
}
.settings__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 786px;
}
.settings__header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 80%;
  height: 2px;
  background-color: rgba(217, 217, 217, 0.2);
}
.settings__header-title {
  color: rgba(217, 217, 217, 0.5);
  font-weight: 600;
  font-size: 2rem;
}
.settings__header-close {
  padding: 0.8em 0 0.8em 0.8em;
  border: none;
}
.settings__header-close i {
  font-size: 2.5rem;
}
.settings .timer-section .settings__section-title {
  position: relative;
}
.settings .timer-section .settings__section-title::after {
  content: "minutes";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.3rem;
  color: rgba(217, 217, 217, 0.5);
}
.settings__section {
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 786px;
}
.settings__section-title {
  margin-bottom: 0.5em;
  width: 100%;
  font-weight: 500;
  font-size: 2rem;
  border-bottom: 1px solid rgba(217, 217, 217, 0.2);
}
.settings__section label {
  margin-top: 0.5em;
  padding: 3px 0;
  min-width: 70%;
  font-size: 1.6rem;
}
.settings__section input {
  margin-top: 0.5em;
  border: none;
  border-radius: 10px;
}
.settings__section input[type=number] {
  -moz-appearance: textfield;
  padding: 3px 9px;
  max-width: 60px;
  outline: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(217, 217, 217, 0.5);
  font-size: 1.6rem;
  text-align: center;
}
.settings__section input[type=number]:focus {
  outline: 1px solid rgb(217, 217, 217);
  color: rgb(217, 217, 217);
}
.settings__section input[type=number]:focus::-webkit-input-placeholder {
  color: rgb(217, 217, 217);
}
.settings__section input[type=number]:focus::-moz-placeholder {
  color: rgb(217, 217, 217);
}
.settings__section input[type=number]:focus:-ms-input-placeholder {
  color: rgb(217, 217, 217);
}
.settings__section input[type=number]:focus::-ms-input-placeholder {
  color: rgb(217, 217, 217);
}
.settings__section input[type=number]:focus::placeholder {
  color: rgb(217, 217, 217);
}
.settings__section .switch {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60px;
  max-width: 60px;
  background-color: rgba(217, 217, 217, 0.2);
  height: 20px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.settings__section .switch::before {
  content: "";
  width: 23px;
  height: 23px;
  border-radius: 50%;
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
  background-color: #7a7a7a;
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, background-color 0.2s;
  transition: transform 0.2s, background-color 0.2s, -webkit-transform 0.2s;
}
.settings__section .switch:checked {
  background-color: rgba(217, 217, 217, 0.5);
}
.settings__section .switch:checked::before {
  background-color: rgb(217, 217, 217);
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
}
.settings__section .color-preview {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 20px;
  min-width: 100px;
  max-width: 100px;
  background-color: #4da78c;
}
.settings__section .color-range {
  width: 100%;
}
.settings__section .hidden-input {
  max-height: 0px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: max-height 0.2s, -webkit-transform 0.2s;
  transition: max-height 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, max-height 0.2s;
  transition: transform 0.2s, max-height 0.2s, -webkit-transform 0.2s;
}
.settings__section .color-range {
  -webkit-appearance: none;
  background: -webkit-gradient(linear, left top, right top, from(hsl(0, 80%, 40%)), color-stop(10%, hsl(36, 80%, 40%)), color-stop(20%, hsl(64, 80%, 40%)), color-stop(30%, hsl(118, 80%, 40%)), color-stop(40%, hsl(179, 80%, 40%)), color-stop(50%, hsl(188, 80%, 40%)), color-stop(60%, hsl(212, 80%, 40%)), color-stop(70%, hsl(260, 80%, 40%)), color-stop(80%, hsl(284, 80%, 40%)), color-stop(90%, hsl(308, 80%, 40%)), to(hsl(0, 80%, 40%)));
  background: linear-gradient(90deg, hsl(0, 80%, 40%) 0%, hsl(36, 80%, 40%) 10%, hsl(64, 80%, 40%) 20%, hsl(118, 80%, 40%) 30%, hsl(179, 80%, 40%) 40%, hsl(188, 80%, 40%) 50%, hsl(212, 80%, 40%) 60%, hsl(260, 80%, 40%) 70%, hsl(284, 80%, 40%) 80%, hsl(308, 80%, 40%) 90%, hsl(0, 80%, 40%) 100%);
}
.settings__section .color-range::-webkit-slider-thumb {
  width: 5px;
  -webkit-appearance: none;
  height: 25px;
  cursor: pointer;
  background: #ffffff;
}
.settings__section select {
  margin-top: 3px;
  padding: 0.2em;
  width: 100%;
  font-size: 1.5rem;
}
.settings__section select:focus {
  outline: 1px solid rgba(217, 217, 217, 0.5);
}
.settings__section .color-preview:checked + .color-range,
.settings__section .switch:checked + select {
  max-height: 30px;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.settings__section .volume-range {
  position: relative;
  -webkit-appearance: none;
  height: 10px;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.5);
}
.settings__section .volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: rgb(217, 217, 217);
  width: 5px;
  height: 15px;
  cursor: pointer;
}

@media (min-width: 420px) {
  .timer__tasks-list-item {
    grid-template-columns: 15px 85% 20px;
  }
}
@media (min-width: 576px) {
  .timer__tasks-form-input {
    width: 80%;
  }
  .timer__tasks-list-item {
    grid-template-columns: 15px 90% 20px;
  }
}
@media (min-width: 768px) {
  .settings {
    min-width: 768px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}
@media (min-width: 992px) {
  .timer__tasks {
    -webkit-margin-before: 1em;
            margin-block-start: 1em;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
  }
  .timer__tasks-form {
    margin-inline: 0.8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid rgba(217, 217, 217, 0.2);
  }
  .timer__tasks-form-input {
    padding-block: 1em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    color: rgb(217, 217, 217);
  }
  .timer__tasks-form-input::-webkit-input-placeholder {
    color: rgba(217, 217, 217, 0.5);
  }
  .timer__tasks-form-input::-moz-placeholder {
    color: rgba(217, 217, 217, 0.5);
  }
  .timer__tasks-form-input:-ms-input-placeholder {
    color: rgba(217, 217, 217, 0.5);
  }
  .timer__tasks-form-input::-ms-input-placeholder {
    color: rgba(217, 217, 217, 0.5);
  }
  .timer__tasks-form-input::placeholder {
    color: rgba(217, 217, 217, 0.5);
  }
  .timer__tasks-form-input:focus {
    outline: none;
    border-bottom: 1px solid rgb(217, 217, 217);
  }
  .timer__tasks-form-btn {
    padding: 0.4em 1.2em;
    border: 1px solid rgba(217, 217, 217, 0.5);
    border-radius: 20px;
    color: rgba(217, 217, 217, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
  }
  .timer__tasks-form-btn:focus {
    border: 1px solid rgb(217, 217, 217);
    color: 1px solid rgb(217, 217, 217);
  }
  .timer__tasks-list {
    margin-block: 1.5em 0.3em;
    margin-inline: 0.8em;
    list-style: none;
    max-height: 225px;
    overflow-y: scroll;
  }
  .timer__tasks-list-item {
    padding-block: 0.5em;
    display: grid;
    grid-template-columns: 15px 80% 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-bottom: 1px solid rgba(217, 217, 217, 0.2);
  }
  .timer__tasks-list-item-checkbox {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    display: grid;
    place-content: center;
    background-color: transparent;
    border: 2px solid rgba(217, 217, 217, 0.5);
    width: 0.9em;
    height: 0.9em;
    border-radius: 0.15em;
    overflow: hidden;
  }
  .timer__tasks-list-item-checkbox::before {
    content: "";
    width: 1em;
    height: 1em;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: 150ms -webkit-transform ease-in-out;
    transition: 150ms -webkit-transform ease-in-out;
    transition: 150ms transform ease-in-out;
    transition: 150ms transform ease-in-out, 150ms -webkit-transform ease-in-out;
    -webkit-box-shadow: inset 1em 1em rgba(217, 217, 217, 0.5);
            box-shadow: inset 1em 1em rgba(217, 217, 217, 0.5);
  }
  .timer__tasks-list-item-checkbox:checked::before {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .timer__tasks-list-item-name {
    word-wrap: break-word;
    margin-left: 5px;
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    color: rgb(217, 217, 217);
  }
  .timer__tasks-list-item-delete i {
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
  }
  .timer__tasks-list-item-delete i:hover {
    color: rgb(217, 217, 217);
  }
}
@media (min-width: 1024px) {
  .timer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .timer__btns {
    width: 100%;
  }
  .timer__clock {
    width: 100%;
  }
  .timer__tasks {
    margin-right: 0.7em;
    min-width: 48%;
    max-width: 48%;
  }
  .timer__tasks-list {
    max-height: 315px;
  }
  .timer__tasks-list-item {
    grid-template-columns: 15px 85% 20px;
  }
  .timer__notes {
    height: unset;
    min-height: 300px;
    margin-left: 0.7em;
    min-width: 48%;
    max-width: 48%;
  }
}/*# sourceMappingURL=index.css.map */